[mysqld]
datadir=/var/lib/mysql
# socket=/tmp/mysql.sock
symbolic-links=0
port=3306


# InnoDBのデータとインデックスをキャッシュするバッファのサイズ(推奨は物理メモリの8割)
innodb_buffer_pool_size=6G

# InnoDBのデータ・ディクショナリーや内部データ構造情報を持つバッファのサイズ
innodb_additional_mem_pool_size=40M

# コミットされていないトランザクションのためのバッファのサイズ
innodb_log_buffer_size=128M

# InnoDBの更新ログを記録するディスク上のファイルサイズ(innodb_buffer_pool_sizeの4分の1程度)
innodb_log_file_size=1G

# データやインデックスを共有ではなくテーブル個別に保存する
innodb_file_per_table=1

# #################
# query cache
# #################

# クエリキャッシュ最大サイズ
query_cache_limit=32M

# クエリキャッシュで使用するメモリサイズ
query_cache_size=1024M

# クエリキャッシュのタイプ(0:off, 1:ON SELECT SQL_NO_CACHE以外, 2:DEMAND SELECT SQL_CACHEのみ)
query_cache_type=1

# #################
# slow query log
# #################

# スロークエリの出力設定
# slow_query_log=ON

# スロークエリと判定する秒数
#long_query_time=3

# スロークエリログの場所(あらかじめ作成しておく必要あり)
# log-slow-queries=/var/log/mysql/lslow.log

# #################
# etc
# #################

# インデックス未使用でのJOIN時に使用するバッファ
join_buffer_size=512K

# クライアントからサーバーに送信できるパケットの最大長
max_allowed_packet=16M

# フルスキャンのレコードバッファ
read_buffer_size=2M

# キーを使用したソートで読み込まれた行がキャッシュされるバッファ
read_rnd_buffer_size=4M

# ソート時に使用されるバッファ
sort_buffer_size=8M

# MEMORYテーブルの最大サイズ。このサイズを超えたMEMORYテーブルはディスク上に作成
max_heap_table_size=32M

# スレッド毎に作成される一時的なテーブルの最大サイズ。スレッドバッファ
tmp_table_size=32M

# スレッドキャッシュ保持最大数
thread_cache_size=200

# コネクションタイムアウト時間
wait_timeout=30

innodb_file_format=Barracuda

general_log=1
general_log_file=/var/log/mysql/mysql.log

# slow_query_log=ON
# long_query_time=2
# log-slow-queries=/var/log/mysql/slow.log

[mysqld_safe]
log-error=/var/log/mysql/error.log
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
port=3306

[client]
# socket=/tmp/mysql.sock
port=3306
