[mysqld]
datadir=/var/lib/mysql
# socket=/tmp/mysql.sock
symbolic-links=0
port=3306

# InnoDBのデータとインデックスをキャッシュするバッファのサイズ(推奨は物理メモリの8割)
innodb_buffer_pool_size=6G

# InnoDBのデータ・ディクショナリーや内部データ構造情報を持つバッファのサイズ
innodb_additional_mem_pool_size=32M

# コミットされていないトランザクションのためのバッファのサイズ
innodb_log_buffer_size=64M

# InnoDBの更新ログを記録するディスク上のファイルサイズ(innodb_buffer_pool_sizeの4分の1程度)
innodb_log_file_size=1G

innodb_buffer_pool_instances=8
innodb_flush_log_at_trx_commit=2
innodb_thread_concurrency=0
innodb_file_per_table=1
innodb_flush_method=O_DIRECT
innodb_io_capacity=2000
innodb_io_capacity_max=6000
innodb_lru_scan_depth=2000

# クエリキャッシュ最大サイズ
query_cache_limit=32M

# クエリキャッシュで使用するメモリサイズ
query_cache_size=1024M

# クエリキャッシュのタイプ(0:off, 1:ON SELECT SQL_NO_CACHE以外, 2:DEMAND SELECT SQL_CACHEのみ)
query_cache_type=1

## slow query log ##
slow_query_log=ON
long_query_time=3
log-slow-queries=/var/log/mysql/slow.log


# インデックス未使用でのJOIN時に使用するバッファ
join_buffer_size=512K

# クライアントからサーバーに送信できるパケットの最大長
max_allowed_packet=16M

# フルスキャンのレコードバッファ
read_buffer_size=2M

# キーを使用したソートで読み込まれた行がキャッシュされるバッファ
read_rnd_buffer_size=4M

# ソート時に使用されるバッファ
sort_buffer_size=8M

# MEMORYテーブルの最大サイズ。このサイズを超えたMEMORYテーブルはディスク上に作成
max_heap_table_size=32M

# スレッド毎に作成される一時的なテーブルの最大サイズ。スレッドバッファ
tmp_table_size=32M

# スレッドキャッシュ保持最大数
thread_cache_size=200

# コネクションタイムアウト時間
wait_timeout=30

general_log=1
general_log_file=/var/log/mysql/mysql.log

# バイナリログ、レプリケーション
sync_binlog=1
sync_relay_log=1
relay-log-info-repository=TABLE
master-info-repository=TABLE
expire_logs_days=10
binlog_format=ROW
transaction-isolation=READ-COMMITTED
innodb_autoinc_lock_mode = 2

# その他
# timezone=Asia/Tokyo
character-set-server=utf8
collation-server=utf8_general_ci
sql-mode="STRICT_TRANS_TABLES,
 ERROR_FOR_DIVISION_BY_ZERO,
 NO_AUTO_CREATE_USER,
 NO_AUTO_VALUE_ON_ZERO,
 NO_ENGINE_SUBSTITUTION,
 NO_ZERO_DATE,
 NO_ZERO_IN_DATE,
 ONLY_FULL_GROUP_BY"
skip-name_resolve
max-connect-errors=100000
max-connections=500

[mysqld_safe]
log-error=/var/log/mysql/error.log
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
port=3306

[client]
# socket=/tmp/mysql.sock
port=3306
